UBIVU_CLIENTID="<<our client id>>"
UBIVU_KEY="<<our secret key>>"
UBIVU_TOKEN_URL="https://auth.ubihub.ubicquia.com/auth/realms/ubivu-prd/protocol/openid-connect/token"
UBIVU_GRANT_TYPE="client_credentials"
UBIVU_SCOPE="openid"
